.color {
    color: red;
}

.spancolor{
    background-color: #1c94c4;
}

.monatsfarbe {
    background-color: #1c94c4;
}

#gesamt {
    height: 200px;
    width: 197px;
    background-color: #7ee0c9;
    font-size: x-large;
    font-style: italic;
    word-spacing: 2px;
}